.table {
    border-collapse: collapse;
    width: 700px;
    margin: 0 auto;
}
.table th, .table td {
    text-align: center;
    padding: 8px;
}
.table tr:nth-child(odd) {
    background-color: var(--backgroundColor);
}
.table tr td, .table tr th {
    color: var(--colorInverse);    
}
.table tr:nth-child(even) {
    background-color: var(--backgroundColorMedium);
}